<%- include("partials/header.ejs") %>

<body>
    <div class="topbar">
        <div class="username">Username</div>
        <a href="/">My Tasks</a>
        <a href="/analytics" class="open">User Analytics</a>
        <a href="/signin">Sign In</a>
        <a href="/signup">Sign Up</a>
    </div>
    <p>Analytics</p>
</body>