<%- include("partials/header.ejs") %>

<body>
    <div class="topbar">
        <div class="username">Username</div>
        <a href="/">My Tasks</a>
        <a href="/analytics">User Analytics</a>
        <a href="/signin">Sign In</a>
        <a href="/signup">Sign Up</a>
    </div>
    <p>Sign In</p>
</body>