<%- include("partials/header.ejs") %>

<body>
    <div class="topbar">
        <div class="username">Username</div>
        <a href="/">My Tasks</a>
        <a href="/analytics">User Analytics</a>
        <a href="/signin">Sign In</a>
        <a href="/signup" class="open">Sign Up</a>
    </div>
    <form method="POST" class="post-form" action="/signup">
        <div class="form-bar">
            <label for="user_id">Username:</label><br>
            <input type="text" id="user_id" name="user_id" value="" required>
        </div>
        

        <div class="form-bar">
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" value="" required>
        </div>

        <div class="form-bar content-bar">
            <label for="fname">First Name:</label><br>
            <input type="text" id="fname" name="fname" required>
        </div>

        <div class="form-bar content-bar">
            <label for="lname">Last Name:</label><br>
            <input type="text" id="lname" name="lname" required>
        </div>

        <button type="submit" class="submit-btn">Sign Up</button>

        <% if (locals.error) { %>
            <p class="error"><%= error %></p>
        <% } %>
    </form>
</body>